# stage_3_build_feature_engineering
This notebook transforms the cleaned data from stage 2 and generates a set of all numeric (float) features, then save it to the `data/processed` folder. 

Conscious of time, I'm not going to experiment with complex feature engineering ideas, rather just focus on 2 things:
- Convert life time transactional metrics like: orders to date, items to date etc., into orders/items per month
- Convert categorical features into numeric if they aren't numeric already

# Imports

In [32]:
import pandas as pd
import numpy as np

# Load cleaned data from stage2

In [33]:
input_data_path = '../data/processed/clean_data.parquet'
input_data = pd.read_parquet(input_data_path)

In [34]:
with pd.option_context('display.max_columns', 999):
    display(input_data.sample(20))

,customer_id,days_since_first_order,days_since_last_order,is_newsletter_subscriber,orders,items,cancels,returns,different_addresses,shipping_addresses,devices,vouchers,cc_payments,paypal_payments,afterpay_payments,apple_payments,female_items,male_items,unisex_items,wapp_items,wftw_items,mapp_items,wacc_items,macc_items,mftw_items,wspt_items,mspt_items,curvy_items,sacc_items,msite_orders,desktop_orders,android_orders,ios_orders,other_device_orders,work_orders,home_orders,parcelpoint_orders,other_collection_orders,redpen_discount_used,coupon_discount_applied,average_discount_onoffer,average_discount_used,revenue
10232,045ec22d9818e946465dc5b3aae44370,1755,904.0,N,28,55,1,1,1,5,3,5,1,0,0,0,48,7,0,19,23,1,6,6,6,0,0,0,0,12,14,0,2,0,0,0,0,28,3369.88,270.43,0.4227,0.484654,3584.37
42306,545d1b0b434b2ce415e907b458b22a44,1875,1592.0,Y,2,24,0,0,0,1,1,0,1,1,0,0,24,0,0,0,18,0,0,0,0,6,0,0,0,0,2,0,0,0,0,0,0,2,6255.36,0.00,0.1350,0.134987,24996.24
17162,7137857daa6077e6e74735e3921e9eb9,1736,1736.0,N,1,3,0,0,0,1,1,0,0,1,0,0,3,0,0,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0.00,0.00,0.0000,0.000000,626.88
63,fa2cd64493eedd054700ce755f3ebee8,1992,1671.0,N,7,12,0,3,1,3,2,2,1,1,0,0,9,0,3,3,4,0,2,2,0,0,0,0,3,4,3,0,0,0,0,0,0,7,640.63,159.02,0.3590,0.510054,689.45
11095,db2b1438290994a5497fa904273251f4,1764,1764.0,N,1,1,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,32.69,0.00,0.5998,0.599817,21.81
26786,150b01a707dcbaa8eaa7c8df729a43de,769,418.0,Y,3,5,0,0,0,1,2,1,1,1,0,0,3,1,1,0,3,0,0,0,0,0,0,0,1,0,1,0,2,0,0,3,0,0,58.08,18.16,0.1777,0.233300,396.09
23525,2849394472004dd3a57b925d4c02a071,1647,1606.0,N,2,3,0,0,0,1,2,1,1,0,0,0,0,3,0,0,0,0,0,0,0,0,3,0,0,1,1,0,0,0,0,0,0,2,0.00,27.26,0.0000,0.109130,199.77
26253,a05c402bfd6271cb7a9da6c87246dc9d,1788,1788.0,N,1,1,0,0,0,1,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,67.72,0.00,0.5000,0.499963,67.73
4445,b7990f97803e3f9f54de7d14fa0c7e33,1795,1795.0,Y,1,1,0,0,0,1,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0.00,0.00,0.0000,0.000000,36.35
31988,5262b6296bcb1a95d2bf7ddbe77586b9,876,876.0,Y,1,1,0,0,1,1,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0.00,NaN,0.0000,0.000000,72.68
21059,5302c20f019cdd7c0e813e93bdfb42ad,1681,1681.0,N,1,2,0,1,0,1,1,1,1,0,0,0,1,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0.00,27.26,0.0000,0.231071,90.74
8346,663df8a88bc4f0ebc7ab822d293f7cf8,1804,352.0,N,5,5,0,0,1,1,3,4,1,1,0,0,5,0,0,5,0,0,0,0,0,0,0,0,0,3,2,0,0,0,0,1,0,4,0.00,216.34,0.0000,0.159986,1092.73
40859,c8ae70e4750fc5eb77f74c08bd91d94c,780,780.0,Y,1,1,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,39.98,NaN,0.4000,0.400000,59.97
31195,eb3cd6bc5e5e4f598ac2badd20329422,263,263.0,Y,2,2,0,0,0,2,1,1,0,1,0,0,2,0,0,1,1,0,0,0,0,0,0,0,0,0,2,0,0,0,0,2,0,0,65.44,9.09,0.2999,0.341599,143.63
33859,010e5cfc17e66c1b9577d3baaebfb3ed,1407,1407.0,N,1,3,0,0,0,1,1,0,1,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0.00,NaN,0.0000,0.000000,258.69
16211,4a36c55c81f36ec82e8e6f5903a3b1e9,1745,1745.0,N,1,1,0,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,18.15,0.00,0.4999,0.499862,18.16
6673,e4f71b31dc393bd52d165fdb602485db,1813,1813.0,N,2,4,0,0,0,2,1,0,1,0,0,0,2,1,1,0,2,1,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,2,92.62,0.00,0.1999,0.199927,0.00
3303,ca1e7fd5dc21555157df407beeaac14f,2052,2052.0,N,1,1,0,0,0,1,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0.00,0.00,0.0000,0.000000,135.45
13487,c4ef69b38639782e3ea9023130276842,1756,1376.0,Y,4,4,0,1,0,2,1,0,0,1,0,0,1,3,0,1,0,0,0,0,3,0,0,0,0,0,4,0,0,0,0,0,0,4,98.10,0.00,0.2999,0.299927,161.71
33896,d77ae66b65a799c09395ac43456ee145,1097,616.0,Y,2,3,0,0,0,1,1,0,1,0,0,0,3,0,0,0,2,0,0,0,0,1,0,0,0,2,0,0,0,0,0,1,0,1,47.26,NaN,0.0800,0.079980,498.14

# Calculate customer tenure

In [35]:
input_data = input_data.assign(
    tenure_months=lambda df: (df.days_since_first_order - df.days_since_last_order) / 30.0
)

In a naive way, I simply calculated the gap between first and last order and divided by 30 days, hope it's a good enough proxy for tenure

In [36]:
input_data.tenure_months.describe()

count    46279.000000
mean        11.644888
std         18.461401
min          0.000000
25%          0.000000
50%          0.033333
75%         17.966667
max         69.566667
Name: tenure_months, dtype: float64

Small tenure of 0 or 0.03 wouldn't work, in division it will result in huge numbers or inifinity

I'll just round them up to the closest integer

In [37]:
input_data['tenure_months'] = np.ceil(input_data.tenure_months)

In [38]:
input_data['tenure_months'] = input_data['tenure_months'].replace(0, 1.0)

In [39]:
input_data.tenure_months.describe()

count    46279.000000
mean        12.394455
std         18.291692
min          1.000000
25%          1.000000
50%          1.000000
75%         18.000000
max         70.000000
Name: tenure_months, dtype: float64

That looks much better

# Convert transactional features into monthly

In [40]:
features_numeric_trasactional = input_data[['orders','items','cancels','returns',
                                            'vouchers',
                                        'female_items','male_items','unisex_items','wapp_items','wftw_items',
                                        'mapp_items','wacc_items','macc_items','mftw_items','wspt_items','mspt_items',
                                        'curvy_items','sacc_items',
                                        'msite_orders','desktop_orders','android_orders','ios_orders','other_device_orders',
                                        'work_orders','home_orders','parcelpoint_orders','other_collection_orders',
                                        'redpen_discount_used','coupon_discount_applied',
                                        'revenue',
                                       ]].fillna(0.0)

Divide those feature by tenure_months

In [41]:
features_numeric_monthly = (1.0 * features_numeric_trasactional).div(input_data.tenure_months, axis='index')

In [42]:
features_numeric_monthly.describe()

,orders,items,cancels,returns,vouchers,female_items,male_items,unisex_items,wapp_items,wftw_items,...,android_orders,ios_orders,other_device_orders,work_orders,home_orders,parcelpoint_orders,other_collection_orders,redpen_discount_used,coupon_discount_applied,revenue
count,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,...,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000
mean,0.907217,1.629684,0.014082,0.190153,0.158151,1.035252,0.464915,0.129517,0.467542,0.364079,...,0.007025,0.046042,0.000022,0.035911,0.241882,0.003580,0.625845,74.699160,14.250628,201.831157
std,0.981241,2.770734,0.140664,0.621776,0.357911,1.996385,1.614851,0.624559,1.397150,0.881770,...,0.110476,0.264897,0.004648,0.238884,0.791259,0.072521,0.789673,391.111280,119.614169,1874.155354
min,0.028986,0.029851,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.333333,0.619048,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,30.435114
50%,1.000000,1.000000,0.000000,0.000000,0.000000,0.642857,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.388889,11.034286,0.000000,72.640000
75%,1.000000,2.000000,0.000000,0.062500,0.083333,1.000000,0.263158,0.000000,0.444444,0.300000,...,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,1.000000,54.000000,4.357256,163.500000
max,107.000000,232.000000,14.838710,56.000000,7.500000,139.000000,116.000000,40.000000,103.000000,38.000000,...,6.500000,13.000000,1.000000,17.000000,107.000000,6.000000,49.000000,30988.680000,15156.880000,354700.160000

In [43]:
features_numeric_monthly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46279 entries, 0 to 46278
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   orders                   46279 non-null  float64
 1   items                    46279 non-null  float64
 2   cancels                  46279 non-null  float64
 3   returns                  46279 non-null  float64
 4   vouchers                 46279 non-null  float64
 5   female_items             46279 non-null  float64
 6   male_items               46279 non-null  float64
 7   unisex_items             46279 non-null  float64
 8   wapp_items               46279 non-null  float64
 9   wftw_items               46279 non-null  float64
 10  mapp_items               46279 non-null  float64
 11  wacc_items               46279 non-null  float64
 12  macc_items               46279 non-null  float64
 13  mftw_items               46279 non-null  float64
 14  wspt_items               46279 non-null  float64
 15  mspt_items               46279 non-null  float64
 16  curvy_items              46279 non-null  float64
 17  sacc_items               46279 non-null  float64
 18  msite_orders             46279 non-null  float64
 19  desktop_orders           46279 non-null  float64
 20  android_orders           46279 non-null  float64
 21  ios_orders               46279 non-null  float64
 22  other_device_orders      46279 non-null  float64
 23  work_orders              46279 non-null  float64
 24  home_orders              46279 non-null  float64
 25  parcelpoint_orders       46279 non-null  float64
 26  other_collection_orders  46279 non-null  float64
 27  redpen_discount_used     46279 non-null  float64
 28  coupon_discount_applied  46279 non-null  float64
 29  revenue                  46279 non-null  float64
dtypes: float64(30)
memory usage: 10.6 MB

Looks good

# Get other numeric features

In [44]:
features_numeric_other = input_data[['days_since_first_order','days_since_last_order','tenure_months',
                                     'different_addresses','shipping_addresses','devices',
                                 'average_discount_onoffer','average_discount_used',
                                ]]

In [45]:
features_numeric_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46279 entries, 0 to 46278
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   days_since_first_order    46279 non-null  int64
 1   days_since_last_order     46279 non-null  float64
 2   tenure_months             46279 non-null  float64
 3   different_addresses       46279 non-null  int64
 4   shipping_addresses        46279 non-null  int64
 5   devices                   46279 non-null  int64
 6   average_discount_onoffer  46279 non-null  float64
 7   average_discount_used     46279 non-null  float64
dtypes: float64(4), int64(4)
memory usage: 2.8 MB

Convert everything to float:

In [46]:
features_numeric_other = features_numeric_other * 1.0

In [47]:
features_numeric_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46279 entries, 0 to 46278
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   days_since_first_order    46279 non-null  float64
 1   days_since_last_order     46279 non-null  float64
 2   tenure_months             46279 non-null  float64
 3   different_addresses       46279 non-null  float64
 4   shipping_addresses        46279 non-null  float64
 5   devices                   46279 non-null  float64
 6   average_discount_onoffer  46279 non-null  float64
 7   average_discount_used     46279 non-null  float64
dtypes: float64(8)
memory usage: 2.8 MB

Done

# Handle the categorical features

In [48]:
features_categorical = input_data[['is_newsletter_subscriber', 'cc_payments','paypal_payments','afterpay_payments','apple_payments']]

In [49]:
features_categorical

,is_newsletter_subscriber,cc_payments,paypal_payments,afterpay_payments,apple_payments
0,N,1,0,0,0
1,Y,0,1,0,0
2,Y,1,0,1,0
3,Y,1,0,0,0
4,Y,1,0,0,0
...,...,...,...,...,...
46274,N,1,1,0,0
46275,Y,1,1,0,0
46276,N,1,0,0,0
46277,Y,1,0,0,0
46278,Y,1,0,0,0

Convert Y/N to float

In [50]:
features_categorical = features_categorical\
.assign(is_newsletter_subscriber=lambda df: (df.is_newsletter_subscriber == 'Y') * 1.0)

In [51]:
features_categorical

,is_newsletter_subscriber,cc_payments,paypal_payments,afterpay_payments,apple_payments
0,0.0,1,0,0,0
1,1.0,0,1,0,0
2,1.0,1,0,1,0
3,1.0,1,0,0,0
4,1.0,1,0,0,0
...,...,...,...,...,...
46274,0.0,1,1,0,0
46275,1.0,1,1,0,0
46276,0.0,1,0,0,0
46277,1.0,1,0,0,0
46278,1.0,1,0,0,0

Everything else to float as well:

In [52]:
features_categorical = 1.0 * features_categorical

In [53]:
features_categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46279 entries, 0 to 46278
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   is_newsletter_subscriber  46279 non-null  float64
 1   cc_payments               46279 non-null  float64
 2   paypal_payments           46279 non-null  float64
 3   afterpay_payments         46279 non-null  float64
 4   apple_payments            46279 non-null  float64
dtypes: float64(5)
memory usage: 1.8 MB

# Conbine the feature sets and save to disk

Put customer_id in there in case we need addtional index or reference

In [54]:
features = pd.concat([
    input_data[['customer_id']], 
    features_categorical, 
    features_numeric_monthly, 
    features_numeric_other
], 
    axis = 1
)

In [55]:
features

,customer_id,is_newsletter_subscriber,cc_payments,paypal_payments,afterpay_payments,apple_payments,orders,items,cancels,returns,...,coupon_discount_applied,revenue,days_since_first_order,days_since_last_order,tenure_months,different_addresses,shipping_addresses,devices,average_discount_onoffer,average_discount_used
0,64f7d7dd7a59bba7168cc9c960a5c60e,0.0,1.0,0.0,0.0,0.0,0.354167,1.041667,0.000000,0.020833,...,5.180208,144.715417,2091.0,653.0,48.0,0.0,4.0,1.0,0.3364,0.358448
1,fa7c64efd5c037ff2abcce571f9c1712,1.0,0.0,1.0,0.0,0.0,0.188406,0.376812,0.000000,0.072464,...,0.000000,77.235942,2082.0,22.0,69.0,0.0,4.0,2.0,0.1404,0.140410
2,18923c9361f27583d2320951435e4888,1.0,1.0,0.0,1.0,0.0,1.028986,2.202899,0.028986,0.028986,...,1.564058,204.838696,2072.0,6.0,69.0,1.0,6.0,2.0,0.1851,0.189973
3,aa21f31def4edbdcead818afcdfc4d32,1.0,1.0,0.0,0.0,0.0,2.000000,2.000000,0.000000,0.000000,...,90.900000,143.640000,2054.0,2050.0,1.0,0.0,1.0,1.0,0.0000,0.387567
4,668c6aac52ff54d4828ad379cdb38e7d,1.0,1.0,0.0,0.0,0.0,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,2053.0,2053.0,1.0,0.0,1.0,1.0,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46274,5b34391ec6fbc0f189cb8d3d88806199,0.0,1.0,1.0,0.0,0.0,0.400000,0.888889,0.000000,0.000000,...,39.807333,84.952000,1372.0,50.0,45.0,0.0,7.0,2.0,0.0091,0.352567
46275,198fd2f143f70b149344bcaf7eddee12,1.0,1.0,1.0,0.0,0.0,1.055556,1.055556,0.055556,0.333333,...,13.367778,76.871111,646.0,124.0,18.0,1.0,2.0,2.0,0.1210,0.209202
46276,338b5c8ade4af1a562d55d4036710630,0.0,1.0,0.0,0.0,0.0,0.181818,0.181818,0.000000,0.000000,...,0.000000,47.437273,1308.0,998.0,11.0,1.0,2.0,1.0,0.1500,0.150000
46277,2115c065bfc1f3b39e4c87c202e80fa5,1.0,1.0,0.0,0.0,0.0,2.800000,3.000000,0.000000,0.400000,...,50.990000,142.458000,1410.0,1287.0,5.0,0.0,1.0,2.0,0.1824,0.320760
46278,0826f335ec6ed4e8867e41f89878d554,1.0,1.0,0.0,0.0,0.0,0.315789,0.578947,0.000000,0.000000,...,0.000000,50.739474,673.0,112.0,19.0,0.0,1.0,2.0,0.1001,0.100058

In [56]:
features.isnull().any()[lambda s: s]

Series([], dtype: bool)

Coupon_discount_applied still has null values in it, must have missed it somehow..

In [57]:
features = features.fillna(0.0)

In [58]:
features.isnull().any()[lambda s: s]

Series([], dtype: bool)

All good now

Now just double checking there's no infinity in the dataframe:

In [59]:
features.iloc[:, 1:].max().max()

354700.16

All good to go

In [60]:
output_file_path = '../data/processed/features.parquet'

features.to_parquet(output_file_path)