# stage2_clean
Instructions:
> Unhash the data (/data/sample-data/test_data.zip) using the secret key provided by us, extract it, most importantly clean it and put it in a form you can use - all programatically of course. We have also "intentionally" corrupted two columns in this file - two columns that might look correct but are not correct. They need "some correction" to be useful.

# Imports

In [29]:
import pandas as pd
import re
import io

# Ingestion

In [11]:
raw_json_file = "../data/data.json"

In [12]:
pd.read_json(raw_json_file)

ValueError: Trailing data

Come on.. do we really need to corrupt the json file too?

In [18]:
with open(raw_json_file) as f:
    raw_json_str = ''.join(f.readlines())

In [19]:
print(raw_json_str[:1000])

{"sacc_items": 0, "work_orders": 0, "female_items": 46, "is_newsletter_subscriber": "N", "male_items": 2, "afterpay_payments": 0, "msite_orders": 0, "wftw_items": 7, "mapp_items": 2, "orders": 17, "cc_payments": 1, "curvy_items": 0, "paypal_payments": 0, "macc_items": 1, "cancels": 0, "revenue": 6946.34, "returns": 1, "other_collection_orders": 16, "parcelpoint_orders": 0, "customer_id": "64f7d7dd7a59bba7168cc9c960a5c60e", "android_orders": 0, "days_since_last_order": 15672, "vouchers": 3, "average_discount_used": 3584.4818, "shipping_addresses": 4, "redpen_discount_used": 4554.39, "mftw_items": 0, "days_since_first_order": 2091, "unisex_items": 2, "home_orders": 1, "coupon_discount_applied": 248.65, "desktop_orders": 17, "ios_orders": 0, "apple_payments": 0, "wspt_items": 4, "wacc_items": 1, "items": 50, "mspt_items": 0, "devices": 1, "different_addresses": 0, "wapp_items": 35, "other_device_orders": 0, "average_discount_onoffer": 0.3364}
{"sacc_items": 0, "work_orders": 0, "female_it

Looks like multiple root level items and no comma separation

In [24]:
separator_pattern = r'\}\n\{'
re.findall(separator_pattern, raw_json_str)[:10]

['}\n{',
 '}\n{',
 '}\n{',
 '}\n{',
 '}\n{',
 '}\n{',
 '}\n{',
 '}\n{',
 '}\n{',
 '}\n{']

In [26]:
fixed_json_str = "[" + re.sub(separator_pattern, '},\n{', raw_json_str) + "]"

In [28]:
print(fixed_json_str[:1000])

[{"sacc_items": 0, "work_orders": 0, "female_items": 46, "is_newsletter_subscriber": "N", "male_items": 2, "afterpay_payments": 0, "msite_orders": 0, "wftw_items": 7, "mapp_items": 2, "orders": 17, "cc_payments": 1, "curvy_items": 0, "paypal_payments": 0, "macc_items": 1, "cancels": 0, "revenue": 6946.34, "returns": 1, "other_collection_orders": 16, "parcelpoint_orders": 0, "customer_id": "64f7d7dd7a59bba7168cc9c960a5c60e", "android_orders": 0, "days_since_last_order": 15672, "vouchers": 3, "average_discount_used": 3584.4818, "shipping_addresses": 4, "redpen_discount_used": 4554.39, "mftw_items": 0, "days_since_first_order": 2091, "unisex_items": 2, "home_orders": 1, "coupon_discount_applied": 248.65, "desktop_orders": 17, "ios_orders": 0, "apple_payments": 0, "wspt_items": 4, "wacc_items": 1, "items": 50, "mspt_items": 0, "devices": 1, "different_addresses": 0, "wapp_items": 35, "other_device_orders": 0, "average_discount_onoffer": 0.3364},
{"sacc_items": 0, "work_orders": 0, "female_

In [30]:
with io.StringIO(fixed_json_str) as f:
    input_data = pd.read_json(f)

In [31]:
input_data

,sacc_items,work_orders,female_items,is_newsletter_subscriber,male_items,afterpay_payments,msite_orders,wftw_items,mapp_items,orders,...,apple_payments,wspt_items,wacc_items,items,mspt_items,devices,different_addresses,wapp_items,other_device_orders,average_discount_onoffer
0,0,0,46,N,2,0,0,7,2,17,...,0,4,1,50,0,1,0,35,0,0.3364
1,0,0,24,Y,0,0,12,2,0,13,...,0,3,4,26,0,2,0,16,0,0.1404
2,0,0,147,Y,3,1,10,33,2,71,...,0,3,17,152,0,2,1,96,0,0.1851
3,0,0,0,Y,0,0,0,0,1,2,...,0,0,0,2,0,1,0,1,0,0.0000
4,0,0,1,Y,0,0,0,1,0,1,...,0,0,0,1,0,1,0,0,0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46274,0,0,36,N,2,0,1,7,1,18,...,0,4,8,40,0,2,0,17,0,0.0091
46275,0,13,13,Y,2,0,0,5,2,19,...,0,2,1,19,0,2,1,5,0,0.1210
46276,0,0,2,N,0,0,0,0,0,2,...,0,0,0,2,0,1,1,2,0,0.1500
46277,0,0,15,Y,0,0,7,0,0,14,...,0,0,0,15,0,2,0,13,0,0.1824
46278,0,0,8,Y,3,0,5,4,1,6,...,0,1,0,11,2,2,0,3,0,0.1001

In [32]:
input_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46279 entries, 0 to 46278
Data columns (total 43 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sacc_items                46279 non-null  int64
 1   work_orders               46279 non-null  int64
 2   female_items              46279 non-null  int64
 3   is_newsletter_subscriber  46279 non-null  object
 4   male_items                46279 non-null  int64
 5   afterpay_payments         46279 non-null  int64
 6   msite_orders              46279 non-null  int64
 7   wftw_items                46279 non-null  int64
 8   mapp_items                46279 non-null  int64
 9   orders                    46279 non-null  int64
 10  cc_payments               46279 non-null  int64
 11  curvy_items               46279 non-null  int64
 12  paypal_payments           46279 non-null  int64
 13  macc_items                46279 non-null  int64
 14  cancels                   46279 non-null  int64
 15  revenue                   46279 non-null  float64
 16  returns                   46279 non-null  int64
 17  other_collection_orders   46279 non-null  int64
 18  parcelpoint_orders        46279 non-null  int64
 19  customer_id               46279 non-null  object
 20  android_orders            46279 non-null  int64
 21  days_since_last_order     46279 non-null  int64
 22  vouchers                  46279 non-null  int64
 23  average_discount_used     46279 non-null  float64
 24  shipping_addresses        46279 non-null  int64
 25  redpen_discount_used      46279 non-null  float64
 26  mftw_items                46279 non-null  int64
 27  days_since_first_order    46279 non-null  int64
 28  unisex_items              46279 non-null  int64
 29  home_orders               46279 non-null  int64
 30  coupon_discount_applied   36074 non-null  float64
 31  desktop_orders            46279 non-null  int64
 32  ios_orders                46279 non-null  int64
 33  apple_payments            46279 non-null  int64
 34  wspt_items                46279 non-null  int64
 35  wacc_items                46279 non-null  int64
 36  items                     46279 non-null  int64
 37  mspt_items                46279 non-null  int64
 38  devices                   46279 non-null  int64
 39  different_addresses       46279 non-null  int64
 40  wapp_items                46279 non-null  int64
 41  other_device_orders       46279 non-null  int64
 42  average_discount_onoffer  46279 non-null  float64
dtypes: float64(5), int64(36), object(2)
memory usage: 15.2+ MB

Now that's fixed, let me inspect the data

# Inspect

In [33]:
input_data.describe()

,sacc_items,work_orders,female_items,male_items,afterpay_payments,msite_orders,wftw_items,mapp_items,orders,cc_payments,...,apple_payments,wspt_items,wacc_items,items,mspt_items,devices,different_addresses,wapp_items,other_device_orders,average_discount_onoffer
count,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,...,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000
mean,0.087642,0.239785,6.465827,1.719203,0.053437,0.978133,1.633333,0.927094,4.108213,0.642386,...,0.000562,0.378530,0.573565,8.575077,0.115949,1.277469,0.116554,3.795091,0.000043,0.190271
std,0.538434,1.560983,17.805349,5.464658,0.224905,2.855797,4.084444,3.693033,8.115099,0.479303,...,0.023696,1.711348,2.538707,19.932067,0.715292,0.533424,0.320891,12.660505,0.009297,0.190814
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,3.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.150000
75%,0.000000,0.000000,5.000000,1.000000,0.000000,1.000000,2.000000,0.000000,4.000000,1.000000,...,0.000000,0.000000,0.000000,7.000000,0.000000,1.000000,0.000000,2.000000,0.000000,0.314300
max,29.000000,84.000000,537.000000,273.000000,1.000000,172.000000,261.000000,151.000000,665.000000,1.000000,...,1.000000,56.000000,353.000000,701.000000,38.000000,3.000000,1.000000,409.000000,2.000000,1.000000

This is not helping at all, let me borrow the column ordering from the sqlite db

In [35]:
columns_ordered = ['customer_id', 'days_since_first_order', 'days_since_last_order',
       'is_newsletter_subscriber', 'orders', 'items', 'cancels', 'returns',
       'different_addresses', 'shipping_addresses', 'devices', 'vouchers',
       'cc_payments', 'paypal_payments', 'afterpay_payments', 'apple_payments',
       'female_items', 'male_items', 'unisex_items', 'wapp_items',
       'wftw_items', 'mapp_items', 'wacc_items', 'macc_items', 'mftw_items',
       'wspt_items', 'mspt_items', 'curvy_items', 'sacc_items', 'msite_orders',
       'desktop_orders', 'android_orders', 'ios_orders', 'other_device_orders',
       'work_orders', 'home_orders', 'parcelpoint_orders',
       'other_collection_orders', 'redpen_discount_used',
       'coupon_discount_applied', 'average_discount_onoffer',
       'average_discount_used', 'revenue']

In [40]:
with pd.option_context('display.max_columns', 100):
    display(input_data[columns_ordered].describe())

,days_since_first_order,days_since_last_order,orders,items,cancels,returns,different_addresses,shipping_addresses,devices,vouchers,cc_payments,paypal_payments,afterpay_payments,apple_payments,female_items,male_items,unisex_items,wapp_items,wftw_items,mapp_items,wacc_items,macc_items,mftw_items,wspt_items,mspt_items,curvy_items,sacc_items,msite_orders,desktop_orders,android_orders,ios_orders,other_device_orders,work_orders,home_orders,parcelpoint_orders,other_collection_orders,redpen_discount_used,coupon_discount_applied,average_discount_onoffer,average_discount_used,revenue
count,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,36074.000000,46279.000000,46279.000000,46279.000000
mean,1374.041444,24592.675382,4.108213,8.575077,0.053091,1.622312,0.116554,1.500940,1.277469,0.940275,0.642386,0.490914,0.053437,0.000562,6.465827,1.719203,0.390047,3.795091,1.633333,0.927094,0.573565,0.573565,0.420126,0.378530,0.115949,0.041423,0.087642,0.978133,2.624149,0.042935,0.462953,0.000043,0.239785,1.532185,0.025281,2.310962,435.216546,174.395472,0.190271,2357.381799,1303.695708
std,604.972862,16935.826675,8.115099,19.932067,2.169831,7.006281,0.320891,1.098283,0.533424,2.413117,0.479303,0.499923,0.224905,0.023696,17.805349,5.464658,1.230722,12.660505,4.084444,3.693033,2.538707,2.538707,1.441323,1.711348,0.715292,0.782021,0.538434,2.855797,6.094596,0.535762,2.488750,0.009297,1.560983,4.443313,0.451226,5.185966,1849.462559,838.683487,0.190814,2033.075229,5599.989015
min,1.000000,24.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,910.000000,6816.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,83.883000,76.340000
50%,1713.000000,25560.000000,2.000000,3.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,54.480000,0.000000,0.150000,2122.648100,212.670000
75%,1786.000000,41640.000000,4.000000,7.000000,0.000000,1.000000,0.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,5.000000,1.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000,253.650000,61.800000,0.314300,3829.882950,790.500000
max,2164.000000,51840.000000,665.000000,701.000000,460.000000,343.000000,1.000000,15.000000,3.000000,57.000000,1.000000,1.000000,1.000000,1.000000,537.000000,273.000000,83.000000,409.000000,261.000000,151.000000,353.000000,353.000000,78.000000,56.000000,38.000000,116.000000,29.000000,172.000000,665.000000,33.000000,84.000000,2.000000,84.000000,175.000000,32.000000,665.000000,102653.770000,33332.260000,1.000000,10000.000000,354700.160000

I already discovered __days_since_last_order__ was actually "hours" in Stage 1 challenge. 

The other "error" was quite obvious as well, __average_discount_used__ should be on the same scale as average_discount_onoffer. Conveniently the max for average_discount_used is exactly 10000, so it's reasonable to simply assume it's out by 4 decimal points. 

Now let's clean!

In [41]:
input_data_clean = (
    input_data[columns_ordered]
    .assign(days_since_last_order=lambda df: df.days_since_last_order/24.0)
    .assign(average_discount_used=lambda df: df.average_discount_used/10000.0)
)

In [43]:
with pd.option_context('display.max_columns', 100):
    display(input_data_clean.describe())

,days_since_first_order,days_since_last_order,orders,items,cancels,returns,different_addresses,shipping_addresses,devices,vouchers,cc_payments,paypal_payments,afterpay_payments,apple_payments,female_items,male_items,unisex_items,wapp_items,wftw_items,mapp_items,wacc_items,macc_items,mftw_items,wspt_items,mspt_items,curvy_items,sacc_items,msite_orders,desktop_orders,android_orders,ios_orders,other_device_orders,work_orders,home_orders,parcelpoint_orders,other_collection_orders,redpen_discount_used,coupon_discount_applied,average_discount_onoffer,average_discount_used,revenue
count,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,36074.000000,46279.000000,46279.000000,46279.000000
mean,1374.041444,1024.694808,4.108213,8.575077,0.053091,1.622312,0.116554,1.500940,1.277469,0.940275,0.642386,0.490914,0.053437,0.000562,6.465827,1.719203,0.390047,3.795091,1.633333,0.927094,0.573565,0.573565,0.420126,0.378530,0.115949,0.041423,0.087642,0.978133,2.624149,0.042935,0.462953,0.000043,0.239785,1.532185,0.025281,2.310962,435.216546,174.395472,0.190271,0.235738,1303.695708
std,604.972862,705.659445,8.115099,19.932067,2.169831,7.006281,0.320891,1.098283,0.533424,2.413117,0.479303,0.499923,0.224905,0.023696,17.805349,5.464658,1.230722,12.660505,4.084444,3.693033,2.538707,2.538707,1.441323,1.711348,0.715292,0.782021,0.538434,2.855797,6.094596,0.535762,2.488750,0.009297,1.560983,4.443313,0.451226,5.185966,1849.462559,838.683487,0.190814,0.203308,5599.989015
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,910.000000,284.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.008388,76.340000
50%,1713.000000,1065.000000,2.000000,3.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,54.480000,0.000000,0.150000,0.212265,212.670000
75%,1786.000000,1735.000000,4.000000,7.000000,0.000000,1.000000,0.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,5.000000,1.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000,253.650000,61.800000,0.314300,0.382988,790.500000
max,2164.000000,2160.000000,665.000000,701.000000,460.000000,343.000000,1.000000,15.000000,3.000000,57.000000,1.000000,1.000000,1.000000,1.000000,537.000000,273.000000,83.000000,409.000000,261.000000,151.000000,353.000000,353.000000,78.000000,56.000000,38.000000,116.000000,29.000000,172.000000,665.000000,33.000000,84.000000,2.000000,84.000000,175.000000,32.000000,665.000000,102653.770000,33332.260000,1.000000,1.000000,354700.160000

Yep, that looks right. 

Saving the data for the next stage

In [45]:
output_file_path = '../data/clean_data.parquet'
input_data_clean.to_parquet(output_file_path)